@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/Proxima-Nova-Font/Proxima Nova Font.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Proxima Nova";
}

body {
  background-color: rgb(5, 13, 42);
  padding-top: 72px;
}

input {
  color: #000;
  padding-left: 10px;
  outline: none;
  border: none;
}

input::-moz-placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  text-transform: capitalize;
  color: #050D2A;
  opacity: 0.4;
}

input::placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  text-transform: capitalize;
  color: #050D2A;
  opacity: 0.4;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

textarea {
  color: #000;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background: rgba(1, 1, 31, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 10;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1040px;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
}
header nav .menu-container {
  display: flex;
  align-items: center;
  gap: 64px;
  height: 100%;
}
header nav .menu-container .open-menu {
  display: none;
}
header nav .menu-container .menu {
  list-style: none;
  display: flex;
  gap: 36px;
  align-items: center;
  height: 100%;
}
header nav .menu-container .menu li {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-family: "Proxima Nova";
  font-weight: 700;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header nav .menu-container .menu li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(265deg, #4870FF -5.06%, #FA00FF 94.87%);
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}
header nav .menu-container .menu li.active {
  background: linear-gradient(265deg, #4870FF -5.06%, #FA00FF 94.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .menu-container .menu li.active:before {
  transform: scaleX(1);
}
header nav .user-actions {
  display: flex;
  align-items: center;
  gap: 32px;
}
header nav .user-actions li {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Proxima Nova";
  list-style-type: none;
  cursor: pointer;
}
header nav .user-actions li:last-child {
  border-radius: 8px;
  background: linear-gradient(265deg, #4870FF -5.06%, #FA00FF 94.87%);
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  padding: 9px 32px;
}

main {
  width: 100%;
  margin: 0 auto;
  background-image: url("assets/images/Group 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}
main .hero {
  width: 100%;
  height: 746px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 54px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
main .hero h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Proxima Nova";
  text-align: center;
  line-height: 1.2;
}
main .hero h3 {
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Proxima Nova";
  text-align: center;
  line-height: 1.2;
  margin-top: 20px;
}
main .hero .btn-container {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
main .hero .btn-container button {
  width: 160px;
  height: 44px;
  border-radius: 8px;
  border: 2px solid #FFF;
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  background: none;
  border: 2px solid #FFF;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  font-family: "Proxima Nova";
  cursor: pointer;
}
main .hero .btn-container .play {
  background: linear-gradient(265deg, #4870FF -5.06%, #FA00FF 94.87%);
  border: none;
}
main .hero .register {
  max-width: 864px;
  min-height: 150px;
  margin: 0 30px;
  margin-top: 59px;
  border-radius: 16px;
  border: 1px solid #3A4054;
  background: linear-gradient(268deg, rgba(79, 89, 124, 0.4) 0%, rgba(123, 135, 175, 0.4) 50.52%, rgba(63, 72, 105, 0.4) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
}
main .hero .register .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .hero .register .top-section h2 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Proxima Nova";
  text-transform: uppercase;
}
main .hero .register .top-section .services-container {
  display: flex;
  gap: 24px;
}
main .hero .register .top-section .services-container .service {
  display: flex;
  align-items: center;
  gap: 3px;
}
main .hero .register .top-section .services-container .service span {
  max-width: 85px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Proxima Nova";
}
main .hero .register .registration-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 12px;
}
main .hero .register .registration-form input {
  width: 202px;
  height: 44px;
  border-radius: 8px;
}
main .hero .register .registration-form button {
  width: 160px;
  height: 44px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(265deg, #4870FF -5.06%, #FA00FF 94.87%);
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  font-size: 18px;
  font-family: "Proxima Nova";
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}
main .hero .register .agreement {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
main .hero .register .agreement input {
  height: 14px;
}
main .hero .register .agreement span {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Proxima Nova";
}
main .hero .register .agreement span pre {
  -webkit-text-decoration: underline solid rgba(230, 230, 230, 0.5);
          text-decoration: underline solid rgba(230, 230, 230, 0.5);
  cursor: pointer;
  font-family: "Proxima Nova";
}
main .games {
  color: #fff;
  min-height: 200px;
  font-family: "Proxima Nova";
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
main .games .container-wrapper {
  max-width: 1040px;
  margin: 0 20px;
}
main .games h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}
main .games .description {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
main .games .description span:last-child {
  -webkit-text-decoration: underline solid rgba(230, 230, 230, 0.5);
          text-decoration: underline solid rgba(230, 230, 230, 0.5);
  cursor: pointer;
}
main .games .games-wrapper {
  width: 100%;
  font-family: "Proxima Nova";
  display: flex;
  gap: 8px;
  margin-top: 24px;
}
main .games .games-wrapper .container-left {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
main .games .games-wrapper .container-left .game-thumbnail {
  display: flex;
  flex-direction: column;
  max-width: 160px;
}
main .games .games-wrapper .container-left .game-thumbnail img {
  width: 100%;
  height: 120px;
  margin-bottom: 8px;
  border-radius: 16px;
}
main .games .games-wrapper .container-left .game-thumbnail h3 {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
main .games .games-wrapper .container-left .game-thumbnail span {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.5;
  cursor: pointer;
}
main .games .games-wrapper .container-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 16px;
}
main .games .games-wrapper .container-right button {
  border-radius: 12px;
  min-height: 23px;
  background: #4870FF;
  padding: 5px 13px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
main .games .games-wrapper .container-right .game-thumbnail {
  max-width: 248px;
  position: relative;
}
main .games .games-wrapper .container-right .game-thumbnail img {
  width: 100%;
}
main .games .games-wrapper .container-right .game-thumbnail .game-description {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  line-height: 1.2;
}
main .games .games-wrapper .container-right .game-thumbnail .game-description h4 {
  font-size: 16px;
  font-weight: 700;
  max-width: 134px;
}
main .games .games-wrapper .container-right .game-thumbnail .game-description span {
  font-size: 10px;
  font-weight: 400;
  max-width: 162px;
}
main .games .games-wrapper .container-right .promotion h3 {
  font-size: 16px;
  font-weight: 700;
}
main .games .games-wrapper .container-right .promotion span {
  font-size: 12px;
}
main .games article {
  margin-top: 24px;
  max-width: 655px;
  font-size: 14px;
}
main .games .contact-form {
  width: 100%;
  height: auto;
  margin-top: 74px;
  max-width: 90vw;
}
main .games .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 25px;
  width: 400px;
  max-width: 100%;
}
main .games .contact-form form input {
  width: 400px;
  max-width: 100%;
  height: 44px;
  border-radius: 8px;
}
main .games .contact-form form textarea {
  width: 400px;
  max-width: 100%;
  height: 128px;
  border-radius: 8px;
}
main .games .contact-form form .submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main .games .contact-form form .submit .agreement {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .games .contact-form form .submit .agreement input {
  height: 14px;
  width: 14px;
}
main .games .contact-form form .submit .agreement span {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Proxima Nova";
}
main .games .contact-form form .submit .agreement span pre {
  -webkit-text-decoration: underline solid rgba(230, 230, 230, 0.5);
          text-decoration: underline solid rgba(230, 230, 230, 0.5);
  cursor: pointer;
  font-family: "Proxima Nova";
}
main .games .contact-form form .submit .send {
  width: 124px;
  height: 36px;
  border-radius: 8px;
  background: linear-gradient(265deg, #4870FF -5.06%, #FA00FF 94.87%);
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  height: 207px;
  padding: 0 50px;
}
footer .container-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-weight: 300;
}
footer .container-wrapper .terms {
  font-size: 18px;
  font-weight: 700;
}
footer .container-wrapper hr {
  width: 100%;
  height: 1px;
  opacity: 0.1;
}
footer .container-wrapper .rights {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#openMenu {
  cursor: pointer;
  width: 30px;
  display: none;
}
@media (max-width: 575px) {
  #openMenu {
    display: block;
  }
}

.burger-menu {
  display: flex;
  width: 0;
  transition: 0.2s ease-in;
}

.popup {
  position: fixed;
  top: calc(50vh - 200px);
  left: calc(50% - 230px);
  z-index: 20;
  width: 461px;
  height: 429px;
  border-radius: 16px;
  border: 1px solid #3A4054;
  background: linear-gradient(268deg, rgba(79, 89, 124, 0.4) 0%, rgba(123, 135, 175, 0.4) 50.52%, rgba(63, 72, 105, 0.4) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.popup .options {
  width: 100%;
  display: flex;
}
.popup .options .menu-item {
  width: 50%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popup .options .active {
  opacity: 0.4;
  background: #050D2A;
}
.popup form {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}
.popup form input {
  width: 100%;
  height: 44px;
  border-radius: 8px;
}
.popup form .passwords-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popup form .passwords-wrapper input {
  width: 206px;
  max-width: 48%;
}
.popup form .agreement {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
.popup form .agreement input {
  height: 14px;
  width: auto;
}
.popup form .agreement span {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Proxima Nova";
}
.popup form .agreement span pre {
  -webkit-text-decoration: underline solid rgba(230, 230, 230, 0.5);
          text-decoration: underline solid rgba(230, 230, 230, 0.5);
  cursor: pointer;
  font-family: "Proxima Nova";
}
.popup form button {
  width: 160px;
  height: 44px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(265deg, #4870FF -5.06%, #FA00FF 94.87%);
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  font-size: 18px;
  font-family: "Proxima Nova";
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loader {
  border: 4px solid #3498db;
  border-top: 4px solid #f1c40f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@media (max-width: 1200px) {
  main .games .games-wrapper {
    flex-direction: column;
    align-items: center;
  }
  main .games .games-wrapper .container-left {
    max-width: 800px;
    justify-content: center;
  }
  main .games .games-wrapper .container-left .game-thumbnail {
    max-width: none;
  }
  main .games .games-wrapper .container-left .game-thumbnail img {
    height: 160px;
  }
  main .games .games-wrapper .container-right {
    max-width: 800px;
    justify-content: space-between;
  }
  main .games .games-wrapper .container-right .game-thumbnail {
    max-width: none;
  }
  main .games .games-wrapper .container-right .game-thumbnail img {
    height: 230px;
  }
  main .games .games-wrapper .container-right .promotion {
    width: 100%;
  }
  main .games .games-wrapper .container-right .promotion img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  body {
    padding-top: 60px;
  }
  header {
    height: 60px;
  }
  header nav .menu-container {
    gap: 40px;
  }
  header nav .menu-container img {
    width: 40px;
  }
  header nav .menu-container .menu {
    gap: 20px;
  }
  header nav .menu-container .menu li {
    font-size: 14px;
  }
  header nav .user-actions a {
    font-size: 16px;
  }
  header nav .user-actions a:last-child {
    margin-left: 15px;
    padding: 8px 24px;
  }
  main .hero .register {
    margin: 0 15px;
    margin-top: 59px;
    max-width: 90vw;
    padding: 10px 15px;
  }
  main .hero .register .top-section h2 {
    font-size: 18px;
  }
  main .hero .register .registration-form {
    gap: 12px;
  }
  main .hero .register .registration-form input {
    width: 166px;
    height: 40px;
  }
  main .hero .register .registration-form button {
    width: 140px;
    height: 40px;
    font-size: 16px;
  }
  main .games .games-wrapper .container-left {
    justify-content: space-between;
  }
  main .games .games-wrapper .container-left .game-thumbnail img {
    height: 16vw;
  }
}
@media (max-width: 991px) and (max-width: 880px) {
  main .games .games-wrapper .container-left .game-thumbnail img {
    height: 18vw;
  }
}
@media (max-width: 991px) and (max-width: 670px) {
  main .games .games-wrapper .container-left .game-thumbnail img {
    height: 17vw;
  }
}
@media (max-width: 991px) {
  main .games .games-wrapper .container-right .game-thumbnail {
    width: 45%;
  }
  main .games .games-wrapper .container-right .game-thumbnail img {
    width: 100%;
    height: auto;
  }
  footer {
    height: 170px;
  }
  footer .description {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  header nav {
    padding: 0 20px;
  }
  header nav .menu-container {
    gap: 20px;
  }
  header nav .menu-container img {
    width: 40px;
  }
  header nav .menu-container .menu {
    gap: 15px;
  }
  header nav .user-actions {
    gap: 15px;
  }
  header nav .user-actions li {
    font-size: 14px;
  }
  header nav .user-actions li:last-child {
    margin-left: 0;
    padding: 8px 16px;
  }
  main .hero h1 {
    font-size: 38px;
  }
  main .hero h3 {
    font-size: 22px;
  }
  main .hero .btn-container button {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
  }
  main .hero .register {
    margin: 0 15px;
    margin-top: 59px;
    padding: 10px 15px;
  }
  main .hero .register .top-section h2 {
    font-size: 16px;
    line-height: 1.2;
    max-width: 30%;
    letter-spacing: 1px;
  }
  main .hero .register .top-section .services-container {
    gap: 5px;
  }
  main .hero .register .top-section .services-container .service img {
    width: 30px;
  }
  main .hero .register .registration-form input {
    width: 155px;
    height: 38px;
  }
  main .hero .register .registration-form button {
    width: 152px;
    height: 38px;
    font-size: 15px;
  }
  footer {
    height: 150px;
    padding: 0 15px;
  }
  footer .container-wrapper .terms {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .burger-menu {
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
  }
  .burger-menu .close {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 25px;
    cursor: pointer;
  }
  .burger-menu .logo {
    position: absolute;
    top: 10px;
    left: calc(50% - 20px);
  }
  .burger-menu .user-actions {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
  }
  .burger-menu .user-actions a {
    margin-left: 0;
  }
  .burger-menu .menu {
    list-style-type: none;
    width: 100%;
  }
  .burger-menu .menu li {
    height: 50px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 44%;
    cursor: pointer;
    font-weight: 700;
  }
}
@media (max-width: 575px) and (max-width: 450px) {
  .burger-menu .menu li {
    padding-left: 41%;
  }
}
@media (max-width: 575px) {
  .burger-menu .menu li:first-child {
    background-color: rgb(59, 62, 73);
  }
  .burger-menu .menu li:hover {
    background-color: rgb(59, 62, 73);
  }
  header nav .menu-container {
    width: 53%;
    justify-content: space-between;
  }
  header nav .menu-container .open-menu {
    display: block;
  }
  header nav .menu-container span {
    cursor: pointer;
  }
  header nav .menu-container .menu {
    display: none;
  }
  header nav .user-actions {
    gap: 5vw;
  }
  header nav .user-actions li {
    margin-left: 0;
    font-size: 3vw;
  }
  header nav .user-actions li:last-child {
    padding: 8px 25px;
  }
  main .hero h1 {
    font-size: 8vw;
  }
  main .hero h3 {
    font-size: 6vw;
  }
  main .hero .register {
    padding: 10px;
  }
  main .hero .register .top-section {
    flex-direction: column;
    align-items: stretch;
  }
  main .hero .register .top-section h2 {
    font-size: 15px;
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  main .hero .register .top-section .services-container {
    justify-content: space-between;
  }
  main .hero .register .top-section .services-container .service img {
    width: 7vw;
  }
  main .hero .register .top-section .services-container .service span {
    font-size: 3vw;
  }
  main .hero .register .registration-form input,
  main .hero .register .registration-form button {
    max-width: 47%;
  }
  main .games .container-wrapper h2 {
    font-size: 7vw;
  }
  main .games .container-wrapper .description span {
    max-width: 60%;
  }
  main .games .container-wrapper .contact-form form .submit .agreement span {
    font-size: 3.5vw;
  }
  main .games .container-wrapper .contact-form form .submit .send {
    width: 30vw;
    height: 10vw;
  }
  main .games .games-wrapper .container-left .game-thumbnail {
    width: 47%;
  }
  main .games .games-wrapper .container-left .game-thumbnail h3 {
    font-size: 3.5vw;
  }
  main .games .games-wrapper .container-left .game-thumbnail img {
    width: 100%;
    height: auto;
  }
  main .games .games-wrapper .container-right .game-thumbnail {
    width: 47%;
  }
  main .games .games-wrapper .container-right .game-thumbnail .game-description {
    top: 2vw;
    left: 2vw;
    gap: 3px;
  }
  main .games .games-wrapper .container-right .game-thumbnail .game-description h4 {
    font-size: 3vw;
    max-width: 100%;
  }
  main .games .games-wrapper .container-right .game-thumbnail .game-description span {
    position: relative;
  }
  footer .container-wrapper {
    gap: 5px;
  }
  footer .container-wrapper .description {
    font-size: 3vw;
  }
  footer .container-wrapper .rights span {
    font-size: 3.5vw;
  }
  .popup {
    width: 90vw !important;
    left: 5vw !important;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */
